/.idea/.idea.MCPServer/.idea/.gitignore
/MCPServer/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/.idea/.idea.MCPServer/.idea/indexLayout.xml
/MCPServer/obj/Debug/net9.0/MCPServer.AssemblyInfo.cs
/MCPServer/obj/Debug/net9.0/MCPServer.AssemblyInfoInputs.cache
/MCPServer/obj/Debug/net9.0/MCPServer.assets.cache
/MCPServer/obj/Debug/net9.0/MCPServer.csproj.AssemblyReference.cache
/MCPServer/obj/MCPServer.csproj.nuget.dgspec.json
/MCPServer/obj/MCPServer.csproj.nuget.g.props
/MCPServer/obj/MCPServer.csproj.nuget.g.targets
/MCPServer/obj/Debug/net9.0/MCPServer.GeneratedMSBuildEditorConfig.editorconfig
/MCPServer/obj/Debug/net9.0/MCPServer.GlobalUsings.g.cs
/MCPServer/obj/project.assets.json
/MCPServer/obj/project.nuget.cache
/MCPServer/obj/project.packagespec.json
/MCPServer/obj/rider.project.model.nuget.info
/MCPServer/obj/rider.project.restore.info
/.idea/.idea.MCPServer/.idea/vcs.xml
